<div class="col-lg-4 col-md-6">
   <div class="panel b">
      <div class="panel-heading">
         <div class="pull-right">
            <%= render partial: "streams/stream_status", locals: { stream: stream} %>
         </div>
         <h4 class="m0"><%= stream.title %></h4>
         <small class="text-muted">
            <%= t(:Step) %>: <%= step.name %>
         </small>
      </div>
      

      <!-- START higher update -->
      <table class="table">
         <tbody>
            <tr>
               <td>
                  <% if stream.updates.where(update_week: @this_week).size != 0 %>
                     <%= render partial: "streams/stream_card_updates_higher", locals: {update: stream.updates.last} %>
                  <% else %>
                     <%#= t(:no_updates_created) %>
                     <%= link_to t(:Create) + " " + t(:Update), new_stream_update_path(stream, Update.new), class: "btn btn-default" %>
                     <%#= link_to "Update Now", new_stream_update_path(stream, Update.new), class: "btn btn-default" %>
                  <% end %>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media-box-body clearfix">
                    <strong class="media-box-heading text-secondary">
                       <%= t(:stream_chrono_progress) %><br>
                       <small class="text-muted">
                        <%= step.start_date %>
                        |
                        <%= step.end_date %>
                        </small>
                     </strong>
                     <%= render partial: "streams/progress_bar", locals: {stream: stream} %>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="mb-sm">
                      <small class="pull-right">
                        <%= t(:Owner) %>: <%= stream.owner.full_name %>
                      </small>
                    </p>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- END higher update -->
   
      <!-- START lower update -->
      <%# if stream.updates.where(update_week: @this_week).size != 0 %>
         <!-- <table class="table">
            <tbody>
               <tr>
                  <td>
                     <%#= render partial: "streams/stream_card_updates_lower", locals: {update: stream.updates.last} %>
                  </td>
               </tr>
            </tbody>
         </table> -->
      <%# end %>
      <!-- END lower update -->

      <div class="panel-footer text-center">
         <%= link_to stream_path(stream) do %>
            <button type="button" class="btn btn-default"><%= t(:Details) %></button>
         <% end %>
         <%# if current_user.admin %>
            <%= link_to edit_stream_path(stream) do %>
               <button type="button" class="btn btn-default"><%= t(:Edit) %></button>
            <% end %>
         <%# end %>
      </div>
   </div>
</div>