<% if @stream.updates.where(update_week: @this_week).size == 0 %>
<div class="pull-right">
   <%= link_to t(:Create) + " " + t(:Update), new_stream_update_path(@stream, Update.new), class: "btn btn-default" %>
</div>
<% end %>

<h3>
   <%= render partial: "layouts/partials/breadcrumbs" %>
</h3>
<div class="row">
   
   <div class="col-xs-12 col-sm-4 col-sm-push-8">
      <!-- Main panel-->
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right mt">
             	<%= render partial: "streams/stream_status", locals: { stream: @stream} %>
            </div>
            <h4 class="mv">
               <span><%= @stream.title %></span>
            </h4>
         </div>
         

         <table class="table">
            <tbody>
               <tr>
                     <td>
                        <strong><%= t(:Start_date) %></strong>
                     </td>
                     <td><%= @stream.start_date %></td>
                  </tr>
                  <% if @stream.end_date_actual %>
                     <tr>
                        <td>
                           <strong><%= t(:End_date) %> <br> (<%= t(:actual) %>)</strong>
                        </td>
                        <td><%= @stream.end_date_actual %></td>
                     </tr>
                  <% else %>
                     <tr>
                        <td>
                           <strong><%= t(:End_date) %> <br> (<%= t(:forecast) %>)</strong>
                        </td>
                        <td><%= @stream.end_date_forecast %></td>
                     </tr>
                  <% end %>
                  <tr>
                     <td>
                        <strong><%= t(:Owner) %></strong>
                     </td>
                     <td>
                        <%= @stream.owner.full_name %>
                        <br>
                        <%= mail_to @stream.owner.email %>
                     </td>
                  </tr>
            </tbody>
         </table>

         <div class="panel-body">
            <h4><%= t(:Description) %></h4>
            <p><%= @stream.description %></p>
            <p class="text-right">
               <%= link_to t(:Edit), edit_stream_path, class: "btn btn-default btn-sm" %>
            </p>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <!-- End Main panel-->
      <!-- Team messages-->
      <div class="panel b">
         <div class="panel-heading">
            <!-- <div class="pull-right label label-danger">5</div> -->
            <div class="pull-right label label-primary"><%= @stream.updates.length %></div>
            <div class="panel-title"><%= t(:Updates) %></div>
         </div>
         
         <div data-height="100%" data-scrollable="" class="list-group">
            
            <% @stream.updates.sort_by(&:created_at).reverse.each do |update|%>
               <%= render partial: "stream_details_updates_list_item", locals: { update: update, stream: @stream} %>
            <% end %>
         </div>
         
      </div>
   </div>
</div>
