<div class="col-lg-4 col-md-6">
   <div class="panel b">
      <div class="panel-heading">
         <div class="pull-right">
            <% if project.updates.where(update_week: @this_week).size != 0 %>
               <div class="label label-<%= project.updates.last.progress_status_color %>">status</div>
            <% else %>
               <div class="label label-grey">missing weekly update</div>
            <% end %>
         </div>
         <h4 class="m0"><%= project.title %></h4>
         <small class="text-muted">
            Frame: <%= scope.name %>
            <br>
            <%= scope.start_date %>
            |
            <%= scope.end_date %>
         </small>
      </div>
      <div class="panel-body">
         <div class="table-grid table-grid-align-middle">
            <div class="col">
               <div class="visible-xs visible-sm text-bold text-muted text-right"><%= project.completion %>%</div>
               <div data-toggle="tooltip" data-title="Progression">
                  <div class="progress progress-xs m0">
                     <div style="width:<%= project.completion %>%" class="progress-bar progress-bar-<%= project.updates.size > 0 ? project.updates.last.progress_status_color : "primary" %>"><%= project.completion %>%</div>
                  </div>
               </div>
            </div>
            <div class="col wd-xxs text-right hidden-xs hidden-sm">
               <div class="text-bold text-muted"><%= project.completion %>%</div>
            </div>
         </div>
      </div>
      <table class="table">
         <tbody>
            <tr>
               <td>
                  <div class="pull-left">
                     <img src="<%= image_path('angle/user/02.jpg') %>" alt="Image" class="media-box-object img-circle thumb32" />
                  </div>
               </td>
               <td>
                  <% if project.updates.size > 0 %>
                     <%= render partial: "projects/project_card_updates", locals: {update: project.updates.last} %>
                  <% else %>
                     No update was created
                  <% end %>
                     
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
      <div class="panel-footer text-center">
         <%= link_to project_path(project) do %>
            <button type="button" class="btn btn-default">Details</button>
         <% end %>
         <%# if current_user.admin %>
            <%= link_to edit_project_path(project) do %>
               <button type="button" class="btn btn-default">Edit</button>
            <% end %>
         <%# end %>
         <%= link_to "Create Update", new_project_update_path(project, Update.new), class: "btn btn-default" %>
      </div>
   </div>
</div>