<h3>Frame: <%= scope.name %>
   <small>
      <%= scope.start_date %>
      > 
      <%= scope.end_date %>
   </small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <!-- Main panel-->
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right mt">
               <div class="label label-info">started</div>
            </div>
            <h4 class="mv">
               <span>Project: <%= project.title %></span>
            </h4>
         </div>
         <div class="panel-body bb bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/08.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/09.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <div class="pull-right mt">
               <button type="button" class="btn btn-default">Add Member</button>
            </div>
         </div>
         <div class="panel-body">
            <h4>Description</h4>
            <p><%= project.description %></p>
            <p class="text-right">
               <button type="button" class="btn btn-default">View all documents</button>
            </p>
         </div>
         <!-- <div class="panel-body">
            <p>
               <small class="pull-left">Activity over time</small>
               <div data-sparkline="" data-type="line" data-height="100" data-width="100%" data-line-width="3" data-line-color="#23b7e5" data-chart-range-min="0" data-spot-color="#888" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
               data-fill-color="#e5f2fa" data-highlight-line-color="#fff" data-spot-radius="5" values="2,4,5,6,10,7,8,5,7,7,11,8,6,9,11,9,13,14,12,16" data-resize="true" class="sparkline text-center"></div>
            </p>
         </div>
         <div class="panel-body">
            <div class="row text-center">
               <div class="col-xs-4">
                  <div class="inline">
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]" class="sparkline"></div>
                  </div>
                  <p class="mt-lg">Issues</p>
               </div>
               <div class="col-xs-4">
                  <div class="inline">
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline"></div>
                  </div>
                  <p class="mt-lg">Commits</p>
               </div>
               <div class="col-xs-4">
                  <div class="inline">
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="60" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline"></div>
                  </div>
                  <p class="mt-lg">Files</p>
               </div>
            </div>
         </div> -->
      </div>
      <!-- End Main panel-->
      <!-- Team messages-->
      <div class="panel b">
         <div class="panel-heading">
            <!-- <div class="pull-right label label-danger">5</div> -->
            <div class="pull-right label label-primary"><%= project.updates.length %></div>
            <div class="panel-title">Updates</div>
         </div>
         
         <div data-height="180" data-scrollable="" class="list-group">
            
            <% project.updates.each do |update|%>
               <%= render partial: "project_details_updates_list_item", locals: { update: update} %>
            <% end %>
         </div>
         
      </div>
   </div>
   <!-- <div class="col-lg-4"> -->
      <!-- Aside panel-->
         <%#= render partial: 'project_details_aside' %>
      <!-- end Aside panel-->
   <!-- </div> -->
</div>
