<div class="col-lg-4 col-md-6">
   <div class="panel b">
      <div class="panel-heading">
         <div class="pull-right">
            <% if project.updates.where(update_week: @this_week).size != 0 %>
               <div class="label label-<%= project.updates.last.progress_status_color %>">
               <%= project.updates.last.progress_status %>
               </div>
            <% else %>
               <div class="label label-grey">no weekly update</div>
            <% end %>
         </div>
         <h4 class="m0"><%= project.title %></h4>
         <small class="text-muted">
            Frame: <%= scope.name %>
            <br>
            <%#= scope.start_date %>
            <!-- | -->
            <%#= scope.end_date %>
         </small>
      </div>
      

      <!-- START higher update -->
      <table class="table">
         <tbody>
            <tr>
               <!-- <td>
                  <div class="pull-left">
                     <img src="<%#= image_path('angle/user/02.jpg') %>" alt="Image" class="media-box-object img-circle thumb32" />
                  </div>
               </td> -->
               <td>
                  <% if project.updates.where(update_week: @this_week).size != 0 %>
                     <%= render partial: "projects/project_card_updates_higher", locals: {update: project.updates.last} %>
                  <% else %>
                     <%= link_to "Update Now", new_project_update_path(project, Update.new), class: "btn btn-default" %>
                  <% end %>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media-box-body clearfix">
                    <strong class="media-box-heading text-secondary">
                       Avancement du Chantier<br>
                       <small class="text-muted">
                        <%= scope.start_date %>
                        |
                        <%= scope.end_date %>
                        </small>
                     </strong>
                     <%= render partial: "projects/progress_bar", locals: {project: project} %>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="mb-sm">
                      <small class="pull-right">
                        Owner: <%= project.owner.full_name %>
                      </small>
                    </p>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- END higher update -->
   
      <!-- START lower update -->
      <%# if project.updates.where(update_week: @this_week).size != 0 %>
         <!-- <table class="table">
            <tbody>
               <tr>
                  <td>
                     <%#= render partial: "projects/project_card_updates_lower", locals: {update: project.updates.last} %>
                  </td>
               </tr>
            </tbody>
         </table> -->
      <%# end %>
      <!-- END lower update -->

      <div class="panel-footer text-center">
         <%= link_to project_path(project) do %>
            <button type="button" class="btn btn-default">Details</button>
         <% end %>
         <%# if current_user.admin %>
            <%= link_to edit_project_path(project) do %>
               <button type="button" class="btn btn-default">Edit</button>
            <% end %>
         <%# end %>
      </div>
   </div>
</div>