<a href="#" class="list-group-item">
	<div class="media-box">
	   <div class="pull-left">
	      <img src="<%= image_path('angle/user/02.jpg') %>" alt="Image" class="media-box-object img-circle thumb32" />
	   </div>
	   <div class="media-box-body clearfix">
	      <small class="pull-right">last updated at <%= update.updated_at.strftime('%H:%M, %A %e %b %Y') %></small>
	      <p class="mb-sm">
	         <span class="circle circle-<%= update.progress_status_color %> circle-lg text-left"></span>
	         <strong>
	         Frame:
	         <%= update.project.scope.name %>
	         |
	         Project:
	         <%= update.project.title %>
	         </strong>
	      </p>
	      <strong class="media-box-heading text-info">
	         <%= update.update_week %></strong>
	      <p class="mb-sm">
	         main progress:
	         <small><%= update.main_progress %></small>
	      </p>
	      <p class="mb-sm">
	         risks:
	         <small><%= update.risks %></small>
	      </p>
	      <p class="mb-sm">
	         next steps:
	         <small><%= update.next_steps %></small>
	      </p>
	   </div>
	</div>
</a>