<div class="row">

	<div class="col-lg-8">
		<div class="panel b">
			  <div class="panel-heading">
			    <div class="pull-right label label-primary"><%= @updates.length %></div>
		      <div class="panel-title">
		      	<%= t(:updates) %>
		      	<br>
		      	<%= t(:updates_order) %>
		      </div>
    	  	
    	  	<% if @updates.size == 0  %>
	      	  <div class="panel-title">
	      	  	<br>
	      	  	<%= t(:no_update) %>
			  		</div>
	      	<% end %>
	      	
			  </div>
			   
  		  <div data-height="100%" data-scrollable="" class="list-group">
		      <% @updates.each do |update|%>
	          <%= render partial: "updates/updates_list_item", locals: { update: update} %>
		      <% end %>
		   	</div>
			</div>
	</div>
	<div class="col-lg-4">
		<div class="panel b">
		   <div class="panel-heading">
		      <!-- <div class="pull-right label label-danger">5</div> -->
		      <div class="pull-right label label-primary"></div>
		      <div class="panel-title">
		      	<%= t(:streams_missing_update) %>
		      	<%= week %>
		      	<br>
		      	<%= t(:streams_missing_update_order) %>
	      	</div>
		   </div>
		   
		   <div data-height="100%" data-scrollable="" class="list-group">
	      <% @streams_without_updates.each do |stream|%>
         <%= render partial: "streams_missing_attributes_list", locals: { stream: stream } %>
	      <% end %>
		   </div>
		   
		</div>
	</div>
	</div>
</div>