<h1>Updates#show</h1>
<p>Find me in app/views/updates/show.html.erb</p>

<ul>
	<li>
		<%= @update.update_week %>
	</li>
	<li>
		<%= @update.progress_status %>
	</li>
	<li>
		<%= @update.main_progress %>
	</li>
	<li>
		<%= @update.risks %>
	</li>
	<li>
		<%= @update.next_steps %>
	</li>
</ul>
<br>
<%= link_to "Update Update ;)", edit_stream_update_path(@update.stream, @update) %>

<br>
<%= link_to "Back to stream", stream_path(@update.stream) %>