<div class="pull-right">
	<%= link_to t(:Create) + " " + t(:Stream), new_step_stream_path([@step,Stream.new]), class: "btn btn-default btn-sm" %>
</div>
<h3>
	<%= render partial: "layouts/partials/breadcrumbs" %>
</h3>

<div 
	id="steps_gantt_chart_div"
	data-tasks="<%= @tasks.to_json %>"
></div>


		<div class="row">
		<h3>
			<%= @step.name  %>
		</h3>
		<br>
		<% @step.streams.each do |stream| %>
 			<%= render partial: "streams/stream_card", locals: { stream: stream, step: stream.step, link: stream_path(stream)} %>
 		<% end %>
		</div>



<%= content_for	:head do %>
	<%= render partial: "steps/steps_gantt_chart" %>
<% end %>