<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Project Dashboard">
   <meta name="keywords" content="">
   <title>Project Dashboard</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <% unless controller_name == "sessions" || "projects" %>
      <%= stylesheet_link_tag params[:controller] %>
   <% end %>
   <!-- =============== APP STYLES ===============-->
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-icon-144x144-precomposed.png" />
   <%= csrf_meta_tags %>
   <%= favicon_link_tag "favicon.png", type: "image/png" %>
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
</head>

<body>
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%#= render partial: "layouts/partials/topnavbar" %>
         <%= render partial: "layouts/partials/topnavbar_custom" %>
      </header>
      <!-- sidebar-->
      <aside class="aside">
         <%#= render partial: "layouts/partials/sidebar" %>
         <%= render partial: "layouts/partials/sidebar_custom" %>
      </aside>
      <!-- offsidebar-->
      <aside class="offsidebar hide">
         <%= render partial: "layouts/partials/offsidebar" %>
      </aside>
      <!-- Main section-->
      <section>
         <%= render partial: "layouts/partials/flashes" %>
         <!-- Page content-->
         <div class="content-wrapper">
            <%= yield %>
         </div>
      </section>
      <!-- Page footer-->
      <!-- <footer> -->
         <%#= render partial: "layouts/partials/footer" %>
      <!-- </footer> -->
   </div>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <% unless controller_name == "sessions" || "projects" %>
      <%= javascript_include_tag params[:controller] %>
   <% end %>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>

   <%= yield :body_area %> 
   <%= yield :modals %>

</body>

</html>